@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a0a0a;
    color: #fff;
}

.header_box {
    background: #470027;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.header_box_name {
    font-size: 32px;
    text-align: left;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 1%;

}

.about_me_profile {
    margin-left: auto;
    margin-right: auto;
    background: #470027;
    width: 20%;
    border: 2px solid #fff;
    border-radius: 2em;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    margin-top: 2%;
}

.about_me {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid #470027;
    border-radius: 2em;
    padding: 5px;
    padding-left: 30px;
    text-align: left;
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 25%;
}

.box_service {
    border: 2px solid #470027;
    border-radius: 2em;
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;

}

.box_service_name {
    font-family: "Pacifico", cursive;
    font-weight: 400px;
    font-size: 24px;
    padding-top: 7%;
    padding-bottom: 10%;
    text-decoration: none;
    color: #fff
}

.box_service_description {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: #fff
}

.box_service_price {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-top: 4%;
    padding-bottom: 30%;
}

.box_service_text {
    text-align: center;
    font-size: 32px;
    font-width: 400px;
    padding-bottom: 10%;
    padding-top: 4%;
}

.service_text {
    text-align: center;
    font-size: 32px;
    font-width: 400px;
    padding-top: 4%;
}

.box_detail_text {
    text-align: center;
    font-size: 32px;
    font-width: 400px;
    padding-bottom: 10%;
    padding-top: 4%;
}

.box_detail_box {
    border: 1px solid #470027;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    padding-bottom: 10%;
}

.box_detail_box_name {
    font-family: "Pacifico", cursive;
    font-weight: 400px;
    font-size: 55px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: #fff
}

.box_detail_box_description {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    padding-top: 4%;
    padding-bottom: 4%;
    border: 1px solid #470027;
    border-radius: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.box_detail_box_description_text {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;

}

.box_detail_box_price {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    padding-top: 4%;
    padding-bottom: 2%;
}

.footer_box {
    border-top: 2px solid #470027;
    width: 100%;
}

.footer_box_text {
    color: #fff;
    font-size: 16px;
    text-align: justify;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 2%;
}

.greetings_login {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Форма входа */
.login {
  width: 320px;
  height: 300px;
  border: 1px solid #CCC;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
  margin-bottom: 20%;
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}

.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(255,255,255,.8);
  outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.login .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}


/* Форма регистрации */
.register {
  width: 320px;
  height: 900px;
  border: 1px solid #CCC;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
}
.register .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}

.register .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
.register .form input:focus {
  border: 1px solid rgba(255,255,255,.8);
  outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.register .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}

/* Кнопка для регистрации */
.register_btn {
  border-radius: 4px;
  background-color: #470027;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 12px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.register_btn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register_btn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

.register_btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

.register_btn:hover:after {
  opacity: 1;
  right: 10px;
}

/* Кнопка услуг на детальную страницу */

.btn {
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  margin-top: -30%;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}

/* Кнопка для создания новой записи */
.create_btn {
  position: absolute;
  top: 26%;
  right: 0;
  left: 0;
  display: block;
  width: 240px;
  padding: 40px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  transform: translateY(-50%);
  box-shadow: 0 10px 20px -5px #470027;
  overflow: hidden;
}

.create_btn:before,
.create_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.create_btn:before {
  transform: scale(1);
  background-image: url("https://himalayasingh.github.io/button-hover-effect-1/img/bg.jpg");
  background-size: cover;
  transition: 0.3s ease transform;
  z-index: 1;
}

.create_btn:after {
  background-color: #470027;
  opacity: 0.9;
  z-index: 2;
}

.create_btn div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.create_btn div:before,
.create_btn div:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 25px 0;
  transition: 0.3s ease all;
}

.create_btn div:before {
  content: "Создать?";
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}

.create_btn div:after {
  content: "Создавай !";
  letter-spacing: -10px;
  transform: scale(0);
  opacity: 0;
}

.create_btn:hover:before {
  transform: scale(1.3);
}

.create_btn:hover div:before {
  letter-spacing: 3px;
  opacity: 0;
  transform: scale(4);
}

.create_btn:hover div:after {
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}


/* Кнопка для детальной страницы на удаление и редактирование */

.btn_detail_templates {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #fff;
  --c:  #470027; /* the color*/

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.btn_detail_templates:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.btn_detail_templates:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.btn_detail_templates {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;
  border: none;
}

/* Форма для создания услуги */

.register {
  width: 400px;
  height: 550px;
  border: 1px solid #CCC;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
}
.register .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}

.register .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
.register .form input:focus {
  border: 1px solid rgba(255,255,255,.8);
  outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.register .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}

.textarea_service {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.service_create_btn {
  border-radius: 4px;
  background-color: #470027;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  margin-left: 18%;
  margin-top: 5%;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.service_create_btn{
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.service_create_btn:after {
  content: '✔️';
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

.service_create_btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

.service_create_btn:hover:after {
  opacity: 1;
  right: 10px;
}

/* Кнопка на удаление услуги */

.btn {
  display: inline-block;

  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 0;
  padding: 0;
  margin-top: 20%;
  margin-left: 25%;

}

.btn:focus {
  outline-color: transparent;
}


/* btn-blow */
.btn-blow::after {
  content: "";
  width: 120px;
  height: 120px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  opacity: 0;
  z-index: -4;
  transition-duration: .4s;
  pointer-events: none;
}

.btn-blow:focus::after {
  opacity: 1;
  transform: scale(1);
}
.btn-blow:focus:hover::after {
  transform: scale(1.2);
}

.btn-blow {
  width: 100px;
  height: 100px;
}

.btn-blow * {
  pointer-events: none;
}

.btn-blow span {
  position: relative;
  overflow: hidden;
  display: flex;
  left:-50px;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transition: transform .4s, border-radius .4s;
  font-family: 'Coiny', cursive;
  transition-timing-function: cubic-bezier(.5,2.4,.7,.5);
}
.btn-blow span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hotpink;
  background-image: radial-gradient(circle, #ff69b4 0%, #e23a8e 30%, #e23a8e 100%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;
  border-radius: 0;
  transition: all .4s;

}
.btn-blow:hover span {
  transform: scale(1.3);
  transition: transform .8s, border-radius .4s;
  border-radius: 50%;
}
.btn-blow:hover span::before {
  transition: background-size .8s, border-radius .4s;
  border-radius: 50%;
  background-size: 120% 120%;
}

/* Кнопка для возвращения со страницы удаления */

