{% extends 'users/base_main.html' %}

{% block title %}CRM - {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block body %}
<div class="about_me_profile">Профиль</div>
    <div class="about_me">
        <p>Логин: {{ user.username }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Отчество: {{ user.surname }}</p>
        <p>Телефон: {{ user.phone }}</p>
        <p>Почта: {{ user.email }}</p>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
        <button class="btn">Выйти</button>
        </form>
    </div>
{% endblock %}