{% extends 'users/base_auth.html' %}
{% block title %}CRM - Login{% endblock %}

{% block body %}
<h1 class="greetings_login">C возвращением в CRM ❤️</h1>
   <div class="login">
       <div class="form">
           <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit" class="register_btn"><span>Вход</span></button>
           </form>
       </div>
    </div>
<div class="header_box" style="margin-top: 20%;">
    <div class="header_box_text">© SkillboxSRM - данное веб-приложение создано в учебных целях. Данное CRM не является коммерческим продуктом!</div>
</div>
{% endblock %}