{% extends 'service/base_main.html' %}

{% block title %}СRM - Список услуг{% endblock %}

{% block body %}
    <div class="box_service_text">Список предоставляемых услуг: 📜</div>
    <a href="{% url 'service:create_service' %}" class="create_btn">
        <div>
        </div>
    </a>
    {% for s in service %}
    <div class="box_service">
        <div class="box_service_name">{{ s.name }}</div>
        <div class="box_service_description">{{ s.description }}</div>
        <div class="box_service_price">Цена: {{ s.price }}</div>
        <a class="btn_list" href="{% url 'service:detail_service' pk=s.pk %}"><span>Перейти</span></a>
        <a class="btn_list" href="{% url 'service:delete_service' pk=s.pk %}" style="margin-top: 2%;"><span>Удалить</span></a>
        <br><br>
    </div>
    {% empty %}
        <div class="no_list">Ещё нет никаких услуг</div>
    {% endfor %}
{% endblock %}